<main class='login-page'>
  <div class='form login-form'>
    <h2>Login</h2>
    {{#Form onsubmit=this.onClickForm}}
    {{{Input labelName='Login' type='text' name='login' text='Login'}}}
    {{#if errors.login}}
    <span class='error'>{{errors.login}}</span>
    {{/if}}

    {{{Input
    labelName='Password'
    type='password'
    name='password'
    text='Password'
    }}}
    {{#if errors.password}}
    <span class='error'>{{errors.password}}</span>
    {{/if}}

    {{{Button class='button button-dark' label=this.label type=../type onClick=this.onClickSubmit}}}

    {{/Form}}
    <nav class='nav'>
      <a class='create-account' href='../error/error400.html'>Create account</a>
    </nav>
  </div>
</main>
