<div class='input-container {{className}}'>
  <label for='{{name}}'>{{labelName}}</label>
  <input
    name='{{name}}'
    type='{{type}}'
    id='{{name}}'
    placeholder='{{placeholder}}'
  />
</div>
