<main class='profile'>

  {{{ProfileBackBar}}}

  {{{UserAvatar class='user-avatar' src='/images/avatar.png' userName='John'}}}

  <div class='data-container'>
    <form>
      {{{ProfileDataItem
        name='email'
        type='text'
        itemName='Email'
        placeholder='winteriscoming@yandex.ru'
      }}}
      {{{ProfileDataItem
        name='password'
        type='password'
        itemName='Login'
        placeholder='johnsnow'
      }}}
      {{{ProfileDataItem
        name='first_name'
        type='text'
        itemName='Name'
        placeholder='John'
      }}}
      {{{ProfileDataItem
        name='second_name'
        type='text'
        itemName='Surname'
        placeholder='Snow'
      }}}
      {{{ProfileDataItem
        name='display_name'
        type='text'
        itemName='Chatname'
        placeholder='John'
      }}}
      {{{ProfileDataItem
        name='phone'
        type='text'
        itemName='Phone'
        placeholder='+7 (xxx) xxx xx xx'
      }}}
    </form>
  </div>

  <div class='profile-footer'>
    <nav>
      <a href='./modules/change_profile_data/change_profile_data.html'>Change
        info</a>
      <a href='./modules/change_password/change_profile_password.html'>Change
        password</a>
      <a href='../../index.html'>Logout</a>
    </nav>
  </div>
</main>
