<main class='change-profile-password'>
  <link rel='stylesheet' href='../../profile.scss' />

  {{{ProfileBackBar}}}

  {{{UserAvatar class='user-avatar' src='/images/avatar.png'}}}

  <div class='password-data-container'>
    <form>
      {{{ProfileDataItem
        type='password'
        name='oldPassword'
        itemName='Old password'
        placeholder='...'
      }}}

      {{{ProfileDataItem
        type='password'
        name='newPassword'
        itemName='New password'
        placeholder='.......'
      }}}

      {{{ProfileDataItem
        type='password'
        name='newPassword'
        itemName='New password again'
        placeholder='.......'
      }}}
    </form>
  </div>
  {{{Button class='button button-light profile-button' label='Save'}}}
</main>
