<main class='change-profile-password'>
  <link rel='stylesheet' href='../../profile.scss' />

  {{{ProfileBackBar}}}

  {{{UserAvatar class='user-avatar' src='/images/avatar.png'}}}

  <div class='password-data-container'>
    <form>
      <div>
        {{{ProfileDataItem
          type='password'
          name='password'
          itemName='Old password'
          placeholder='...'
        }}}
        {{{ProfileDataItem
          type='password'
          name='password'
          itemName='New password'
          placeholder='.......'
        }}}
        {{{ProfileDataItem
          type='password'
          name='password'
          itemName='New password again'
          placeholder='.......'
        }}}
      </div>

      {{{Button
        class='button button-light profile-button'
        label='Save'
        onClick=this.onClickSubmit
      }}}
    </form>
  </div>

</main>
