<main class='change-profile-data'>
  <link rel='stylesheet' href='../../profile.scss' />

  {{{ProfileBackBar}}}

  {{{UserAvatar class='user-avatar' src='/images/avatar.png'}}}

  <div class='data-container'>
    <form>
      <div>
        {{{ProfileDataItem
          name='email'
          type='text'
          itemName='Email'
          placeholder='winteriscoming@yandex.ru'
        }}}
        {{{ProfileDataItem
          name='login'
          type='text'
          itemName='Login'
          placeholder='johnsnow'
        }}}
        {{{ProfileDataItem
          name='first_name'
          type='text'
          itemName='Name'
          placeholder='John'
        }}}
        {{{ProfileDataItem
          name='second_name'
          type='text'
          itemName='Surname'
          placeholder='Snow'
        }}}
        {{{ProfileDataItem
          name='login'
          type='text'
          itemName='Chatname'
          placeholder='John'
        }}}
        {{{ProfileDataItem
          name='phone'
          type='text'
          itemName='Phone'
          placeholder='+7 (xxx) xxx xx
        xx'
        }}}
      </div>

      {{{Button
        class='button button-light profile-button'
        label='Save'
        onClick=this.onClickSubmit
      }}}
    </form>
  </div>

</main>
