<div class='chat-feed'>
  <div class='chat-feed__header'>
    {{{UserPreview userName='Tyrion'}}}
    {{{Button class='chat-settings-btn' }}}
  </div>
  <div class='chat-feed__main'>
    <div class='messages'>
      {{{Message messageText='Мормонт приказал нам выследить их, и мы это сделали. Одичалые мертвы. Более они не причинят хлопот. А нам предстоит тяжелая дорога. Мне не нравится погода. Если пойдет снег, на возвращение домой уйдет две недели, а ведь даже снегопад будет подарком. Вы когда-нибудь видели ледяную бурю, милорд?' whoseMessage='companion-message' messageTime='00:00'}}}
      {{{Message messageText='Опиши мне еще раз то, что ты видел, Уилл. Все подробности. Ничего не забудь.' whoseMessage='user-message' messageTime='00:10'}}}
    </div>
  </div>

  <div class='chat-feed__footer'>
    {{{Button class='add-files-btn'}}}
    <form>
      {{{Input
        labelClass='custom-input-label'
        name='message'
        type='text'
        placeholder='Message'
        className='chat-feed-input'
        onFocusout=this.onFocusout
        inputError=this.inputError
      }}}
      {{{Button class='send-message-btn' type=../type onClick=this.onClickSubmit}}}
    </form>
     
  </div>
</div>
