<div class='chat-feed'>
  <div class='chat-feed__header'>
    {{{UserPreview userName='Tyrion'}}}
    {{{Button class='chat-settings-btn' }}}
  </div>
  <div class='chat-feed__main'>
  
  </div>
  <div class='chat-feed__footer'>
    {{{Button class='add-files-btn'}}}
    <form>
      {{{Input
        labelClass='custom-input-label'
        name='message'
        type='text'
        placeholder='Message'
        className='chat-feed-input'
      }}}
    </form>
      {{{Button class='send-message-btn'}}}
  </div>
</div>
